body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,;
        margin: 0;
        padding: 20px;
        color: #080b28;
        text-align: center;
        background: #acafff;

        }